
.login-container{
    display:flex;
    justify-content: center;
    flex-direction: column;

    h1{
        text-align:center;
        font-size:50px;
        margin: 0;
        font-family: 'Lato',sans-serif;

    }
    div{
        display:flex;
        flex-direction:row;
        justify-content: center;
        flex: 0.5;

        .login-image{
            margin-right: 50px;
            flex:0.5;
            img{
                width: 500px;
                height:500px
            }
        }
        .login-content{
            display:flex;
            flex-direction:column;

            h3{
                font-size:40px;
                font-family: 'KoHo',sans-serif;
                margin:0;
            }
            label{
                margin-right:190px;
                font-size:20px;
                font-family: 'Roboto',sans-serif;
                margin-bottom: 5px;
            }
            input{
                width: 70%;
                height: 30px;
                font-size:20px;
                font-family: 'KoHo',sans-serif;
                margin-left: 15px;
                font-weight:bold;
            }
            button{
                width: 25%;
                margin-top: 20px;
                height: 45px;
                background-color: white;
                border: 1px solid #ff6680;
                color: #ff6680;
                font-size:20px;
                cursor: pointer;
                transition: all 0.2s ease;
                border-radius: 7px;
            }
            button:hover{
                color: white;
                background-color:#ff6680;
            }
        }
    }
}