@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.register-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    h1{
        font-family: 'Roboto',sans-serif;
        font-size:43px;
        margin: 0;
        margin-top: 10px;
    }
    div{
        display:flex;
        flex-direction:row;
        .register-image{
            position: relative;
            right: 150px;
            flex:0.4;
            img{
                width:500px;
                height:500px;
            }
        }
        .register-content{
            display:flex;
            flex-direction:column;
            flex: 0.6;
            h3{
                font-family: 'Lato',sans-serif;
                font-size:30px;
            }
            label{
                font-family: 'Open Sans',sans-serif;
                font-size: 20px;
                margin-bottom:5px;
            }
            input{
                width:150% !important;
                margin-left:30px;
                height: 30px;
                font-size: 20px;
                font-family: 'KoHo',sans-serif;
                font-weight:bold;
            }
            button{
                color: #4d4dff;
                border: 1px solid #4d4dff;
                background-color: white;
                position: relative;
                top:30px;
                width: 60%;
                height: 40px;
                font-size: 20px;
                border-radius:5px;
                cursor: pointer;
                font-family: 'Lato',sans-serif;
                font-weight:bold;
                transition:all ease 0.2s;
            }
            button:hover{
                color: white;
                background-color:#4d4dff;
                border: 1px solid #4d4dff;
                border-radius:10px;
                font-family: 'Open Sans',sans-serif;
                font-weight:300;
            }
        }
    }
}